<h2>Editar Usuário</h2>

<form method="post" action="/usuarios/editar/{{usuario.id}}">
    <input type="text" name="nome" value="{{usuario.nome}}" required>
    <button type="submit">Salvar</button>
</form>
